
/* ###############  general */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* ############### navbar as a flex */
.navbar {
    /* width: 80%; */
    /* height: 50px; */
    /* margin: 0 auto; */

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: yellow;
}

/* ############### brand logo text */
.brand-title {
    color: orange;
    font-size: 24px;
    font-weight: bold;
    margin: 8px;
}

.navbar-links {
    height: 100%;
}

/* ############### menu list as a flex row */
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}


.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: lightskyblue;
    padding: 16px;
}

.navbar-links li:hover {
    background-color: darkblue;
}

/* hanburger icon cutomize */
.toggle-button {
    position: absolute;
    top: 12px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

/* hanburger icon bar cutomize */
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: yellow;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        /* background-color: aquamarine; */
        flex-direction: column;
        align-items: flex-start;
    }

    /* 800px අඩු වල toggle-button display කරගන්නේ මෙහෙම   */
    .toggle-button {
        display: flex;
    }

    /* 800px අඩු වල removing menu list   */
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}